#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.resumeLink:hover {
  color: rgb(247, 20, 247);
}


.Home{
  background-color: #f5f5f504;
  padding: 2em;
  border-radius: 10px;
  margin: 2em;
  box-shadow: 0 0 10px #080000;
}

/* about me */
.aboutMe {
  font-size: 1.5em;
  padding: 2em;
  margin: 2em;
}

/* git repo link*/
.gitRepo {
  color: #000;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.gitRepo:hover {
  color: purple;
  transform: scale(2.0em);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-item {
  display: inline-block;
  margin-right: 10px; 
}


.rain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 20px;
  height: 20px;
  fill: #457aaf;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

.sun {
  position: absolute;
  top: 120px;
  left: 80px;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  animation: glow 2s infinite;
}



@keyframes glow {
  0% {
    box-shadow: 0 0 5px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0;
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 5px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0;
    transform: scale(1);
  }
}

.nav-link:hover {
  color: #1316a1; 
  transition: color 0.2s ease-in-out; 
  transform: scale(2.0);  
}

.active {
  color: #1316a1; 
  transform: scale(2.0);
}


.footer {
  display: flex;
  justify-content: space-between;
}


.submit{
  background-color: hwb(273 8% 61%); 
  border: black; /* No border */
  color: white; /* white text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Centered text */
  text-decoration: none; 
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Transition */
}

/* input[type="submit"]:hover {
  background-color: #092292; 
} */

.col {
  margin-bottom: .75em;
}



/* // Queries  */

  @media (max-width: 700px) {
    .sun {
      width: 80px;
      height: 80px;
      top: 130px;
      left: 20px;
    }
  }

  @media (max-width: 600px) {

    .navbar {
      font-size: 13px;
    }

    .Home {
      padding: .5em;
    }

  }
  
  @media (max-width: 508px) {

    .navbar {
      font-size: 14px;
      display: inline-block;
    }
    

    .Home {
      padding: .5em;
    }

    .giphy-embed {
      width: 100%;
    }

  }

  @media (max-width: 400px) {

    .sun {
      width: 70px;
      height: 70px;
      top: 120px;
      left: 13px;
    }

    .navbar {
      font-size: 14px;
      display: inline-block;
      flex-direction: column;
    }

    .nav-item {
      display: inline-flex;
    }

    .Home {
      padding: .8em;
    }

    .giphy-embed {
      width: 100%;
    }

    .col {
      margin-bottom: .75em;
    }

  }